.intro {
  font-style: italic;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #f36699;
}

img {
  float: center;
}

.column {
  width: 300px;
  float: left;
  margin: 12px;
  border: 2px solid green;
  padding: 10px;
  background-color: orange;
  text-align: center;
}
